/* Consolidated.css */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  /* border: none; */
}

.goal-input {
  text-align: center;
  border: none;
  margin: 0;
  font-size: large;
  background-color: #fff7ed;
  width: 80%;
}
.goal-input:hover {
  /* background-color: beige; */
  border-radius: 4px;
  background-color: white;
}
.goal-input-td {
  /* background-color: beige; */
  text-align: right;
  font-weight: 600;
  font-size: 1.2rem;
}

.goal-input-td-highlighted {
  color: red;
  font-size: 1.4rem;
}
.notebook {
  width: 30px;
  height: 30px;
  background-image: url("/src/assets/icons/icons8-notes-240.png");
  background-repeat: no-repeat;
  background-size: contain; /* Ensure the image fits within the container */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}
.notebook:hover {
  cursor: pointer;
}
/*  change icon when note is edited:  */
.new-icon {
  border: none;
  border-radius: 5px;
  background-image: none;
  background-image: url("/src/assets/icons/iconsEdited.png");
  margin: 0;
  padding: 0;
}
