/* Import your other styles if needed */

/* Styles for the DebtAddNew container */
.debt-add-new-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 98%; /* Adjust the width as needed */    
    background-color: rgb(255, 254, 252);
    padding: 14px;
    border-radius: 12px;
    margin: 0 auto; /* Center the container horizontally */
    font-weight: 700;

  }
  
  /* Styles for the inputs and labels inside the DebtAddNew component */
  .debt-add-new-container label {
    flex: 1;
    text-align: left;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .debt-add-new-container input[type="text"],
  .debt-add-new-container input[type="number"],
  .debt-add-new-container input[type="date"] {
    flex: 4;
    width: 100%; /* Adjust the width as needed */
    padding: 5px; /* Adjust the padding as needed */
    font-size: 1rem;
  }
  
  /* Styles for the Save button inside the DebtAddNew component */
  .debt-add-new-container button {
    background-color: #b8f3c7;
    color: #14050A;
    border: solid grey 1px; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin-top: 10px;
    margin-right: 10px; 
    border-radius: 5px; 
    font-weight: bold; 
    transition: background-color 0.3s; 
  
    /* Hover styles */
    &:hover {
      background-color: #99e4ac;
      color:black;
    }
  }
  
  /* Additional styles for your form inputs and labels if needed */
  
  /* Add any other styles you need for the DebtAddNew component */
  