.investiment-types-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 950px;
  gap: 43px;
}

.investiment-types-img-container a {
  border:none;
  border-radius: 12px;
  background-color: white;
 
}
.investiment-types-img-container-intern-div {
  text-align: center;
  font-size: 1.2rem;
  background-color: white;
  padding:5% 10% 1% 10%;
  border-radius: 12px;
}
.investiment-types-img-container-intern-div img {
  width: 100%;
  border-radius: 12px;
  
}
.investiment-types-img-container-intern-div *:hover {
  opacity: 0.8;
}


.investment-types-div-img{ 
    background-color: aliceblue;
    padding: 15px;
    border-radius: 14px;
    ;
  }