.button-edit-real-estate {
    background-color: rgb(241, 241, 241);
    border: none;
    font-size: 20px;
    padding: 5px; /* Add padding for better button appearance */
    cursor: pointer; /* Add pointer cursor for buttons */
  }
  
  .button-delete-real-estate {
    background-color: rgb(241, 241, 241);
    border: none;
    font-size: 20px;
    padding: 5px; /* Add padding for better button appearance */
    cursor: pointer; /* Add pointer cursor for buttons */
  }
  
  .img-edit-button-icon {
    width: 25px;
    transition: transform 0.2s; /* Add transition for smooth scaling */
  }
  
  .img-delete-button-icon {
    width: 25px;
    transition: transform 0.2s; /* Add transition for smooth scaling */
  }
  
  /* Apply the hover effect */
  .img-edit-button-icon:hover {
    transform: scale(1.2); /* Corrected 'scale' property */
  }
  
  .img-delete-button-icon:hover {
    transform: scale(1.2); /* Corrected 'scale' property */
  }
  
  /* Style for labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Style for input fields */
  input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  /* Style for select dropdown */
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  /* Apply additional styling for your buttons */
  .button-edit-real-estate {
    background-color: rgb(241, 241, 241);
    border: none;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
  }
  
  .button-delete-real-estate {
    background-color: rgb(241, 241, 241);
    border: none;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
  }
  
  .img-edit-button-icon {
    width: 25px;
    transition: transform 0.2s;
  }
  
  .img-delete-button-icon {
    width: 25px;
    transition: transform 0.2s;
  }
  
  .img-edit-button-icon:hover {
    transform: scale(1.2);
  }
  
  .img-delete-button-icon:hover {
    transform: scale(1.2);
  }
  /* Style for Add and Save buttons */
.button-delete-real-estate,  .button-edit-real-estate {
    
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .button-delete-real-estate:hover {
    background-color: #df93af;
  }

  
  .button-edit-real-estate:hover {
    background-color: #a0ce81;
  }
  
.button-save-add-real-estate{
    background-color: #2a3e98;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s; 
}  
.button-save-add-real-estate:hover {
  background-color: #93a0d7;
  color: black;
  font-weight: 600;
  ;
}
.realestate-container{
    margin-left: 10px;
    margin-right: 10px;
    ;
}