* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 5px;
    background-color: #fff7ed;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: unset;
    color: unset;
}

.investment-types-div-img{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 24px;
    justify-content: center;
    
}

.investment-types-div-img img{
    border-radius: 13px;
    max-width:250px;

}
.investment-types-div-img p{
    border-radius: 13px;
    max-width: 450px;
    min-width: 250px;
}
